<IfModule mod_expires.c>
  ExpiresActive On

  # Slike
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # CSS in JS
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/x-javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType application/x-javascript "access plus 1 month"

  # Dokumenti in pisave
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/ttf "access plus 1 year"
  
  # Ostalo
  ExpiresDefault "access plus 2 days"
</IfModule>

<IfModule mod_headers.c>
  # Preprečimo caching za HTML, da uporabniki takoj vidijo spremembe kode
  <FilesMatch "\.(html|htm)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
  </FilesMatch>

  # Dodamo Cache-Control na ostale staticne fajle, s tem se nadgradi ExpiresByType
  <FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif|webp|svg|css|js|woff2|woff|ttf)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>
</IfModule>
